# LANGUAGE FUNDAMEMNTALS

In [28]:
#EASIEST HIGH LEVEL,GENRAL PURPOSE LANGUAGE........
#WE CAN USE IT FOR MULTIPLE PURPOSE DATA ANALYSIS MACHINE LEARNING WEB DEVELOPMENT ETC.
#USER UNDERSTANDABLE LANGUAGE
#FATHER OF PYTHON : "GUIDO VAN ROSSAM" CREATED IT IN 1989 
#OFFICIAL DATE OF BIRTH IS 1991 i.e IT WAS AVAIALABLE TO USE IN FEB 20TH 1991
#CONSISE CODE
## PYTHON IS DYNAMICALLY TYPED LANGUAGE ==>NO NEED TO ASSIGN A TYPE TO A VARIABLE, TYPE ARE ASSIGNED AUTOMATICALLY ACCORDING TO NEED
#C,JAVA ARE STATICALLY TYPED LANGUAGE ==> NEED TO DEFINE TYPE OF EVERY VARIABLE BEFORE USING
#NO NEED TO USE SEMICOLON (;)
#WHY WORD PYTHON ==> MONTY PYTHON CIRCUS 1969 TO 1974  POPULAR BBC TV SHOW THAT GUIDO ROSSAM GAVE TRIBUTE BY USING NAME "PYTHON"
#GUIDO ROSSAM TOOK 
#1.FUNCTIONAL PROGRAMMING LANGUAGE FROM C  ==> YOU CAN CREATE ANY FUNCTION WITHOUT CLASS AND CALL IT ANYWHERE.
#2.OPPS FROM C++
#3.SCRIPTING LANGUAGE FEATURES FORM PERL AND SHELL SCRIPT
#4.MODULAR PROGRAMMING FROM MODULA-3==> PROGRAM IS DIVIDED INTO MODULES
#5.SYNTAX ARE BORROWED FROM C & ABC LANGUAGE
#######################################################################################################################################################
#WHERE WE CAN USE PYTHON 
#1.DESKTOP APPS LIKE CALCUALTOR
#2.WEB APPLICATION USING DJANGO & FLASK FRAMEWORK 
#3.DATABASE APPLICATIONS 
#4.NETWORKING APPLICATIONS
#5.FOR DEVELOPING GAMES
#6.FOR DATA ANALYTICS
#7.MACHINE LEARNING APPLICATION
#8.ARTIFICIAL INTELLEGENCE 
#9.FOR IOT APPLICATIONS........................................................................................................................

#COMPNIES USING PYTHON
#GOOGLE #YOUTUBE #DROPBOX #NASA #

In [41]:
#FEATURE OF PYTHON 
#1.SIMPLE AND EASY TO LEARN 
#=>PYTHON HAS 30 KEYWORDS COMPARED TO JAVA WHICH HAS 50
#2.VERY LESS CODE NEEDEDE TO WITE A PROGRAM 
#3.FREEWARE & OPENSOURCE CAN BE INSTALLED IN ANY MACHINE FOR FREE
#=>OPENSOURCE ==> IF INTERAL OPTIMAZATION OR FEATURES ARE NOT GOOD ENOUGH I CAN CREATE AND RELEASE MY OWN VERSION OF PYTHON
#=>FREEWARWE ==>CAN BE INSTALLED ON ANY COMPUTER FOR FREE
#4.HIGH LEVEL PROGRAMMING LANGUAGE ==>HUMAN UNDERSTANDABLE LANGUAGE,NO PROBLEM IN UDERSTNDING THE CODE
#=>NO NEED TO WORRY ABOUT LOW LEVEL ACTIVITIES LIKE MEMORY MANGEMENT & SECURITY ETC:AUTOMATICALLY PYTON IS GOIN TO TAKE CARE OF IT
#5.PYTHON IS PLATFORM INDEPENDENT==> WRITE A PROGRAM ONCE AND YOU CAN RUN IT ON ANY OS (ANYWHERE) #"WRITE ONCE RUN ANYWHERE"
#6.PORTABILITY ==>MOVING PYTHON PROGRAM FROM ONE PLATFORM TO ANOTHER PLATFORM WITHOUT ISSUES(MOVING FROM ONE OS TO ANOTHER OS NEED NO CODE CHANGE)
#######7.DYNAMICALLY TYPED ==>NO REQUIREMENT TO DEFINE ANY DATATYPE FOR VARIABLE AUTOMATICALLY IT WILL BE DEFINED ACCORDING TO VALUE.
#8.PYTHON IS OBJECT ORIENTED ==>WE CAN ENJOY ENCAPSULATION,POLYMORPHISM ETC
#9.PYTHON IS PROCEDURE ORIENTED WE WE CAN CALL AND OBJECTS WE CAN CREATE PROGRAM AND FUNCTIONS AND RUN THEM
#10.INTERPRITED PTOGRAMING LANGUAGE
#WE ARE NOT REQUIRED TO COMPILE THE PROGRAM PYTHON INTERPRITER AUTOMATICALLY DO THIS FOR US
#==>INTERPRITER CHECK ALL SYNTAX LINE BY LINE AND THEN RUN THE PROGRAM
#11.PYTHON IS EXTESIBLE ==>WE CAN USE ANOTHER PROGRAMING LANGHUAGES IN PYTHON
#==>IF WE HAVE 1 LAKH CODE LINE IN JAVA WE DONT NEED TO WRITE THEM AGAIN IN PYHTON WE CAN US THEM.
#12.EMBEDDED => HAPPLY WE ARE ALLOWED TO USE WITH OTHER LANGAUE USE ALSO PYTOHON PROGRAM CAN BE EMBEDDED WITH OTER LANGUAGE ALSO 
#13.EXTENSIVE LIBRARY SIUPPORT.

In [ ]:
###LIMITATION ON PYTHON
#1.PERFORMANCE WISE PYTHON IS NOT UPTO THE MARK 
#==>IT IS AN INTERPRETID PROGRAMMING LANGUAGE INTERPRITER INLY SEE ON LINE AT A TIME THEN IT MOVES TO SECOND.
#JAVA IS PERFORMANCE IS BETTER BECAUSE IT USES COMPILER WIHICH COMPILES ALL PROGRAM LINE IN SINGLE EXECUTION.
#2.MOBILE APPLICATION : STILL NOT USED FOR MOBILE APPLICATION ANDROID AND IOS ARE THE LEADERS.
#3.LESS SECURE THAN JAVA

In [ ]:
####MYTH
#1.PYTHON IS NOT SUITABLE FOR LARGE SCALE ENTERPRISE APPLICATION

In [ ]:
#FLAVOURS OF PYTHON 
#1.CPython : USED FOR C APPLCATION
#2.JYTHON OR JPYTHON : USED FOR JAVA APPLICATION
#3.IRONYTHON: USED FOR CSHRP APPLICATION
#4.PYPY:INTERNALLY "JIT" COMPILER IS USED (JUST INTIME COMPILER)
#5.RUBYPYTON:
#6.ANACONDAPYTHON: TO HANDLE BIG DATA
#7.STACKLESS(PYTHON FOR CONCURRENCY)(MULTITHREADING OPERATIONS)

In [ ]:
#VARIOUS VERSION OF PYTHON
#1.CURRENT VERSION IS 3.7 CAM E IN 2018 
#2.PYTHON 1.0 INTRODUCED IN JAN 1994
#3.PYTHON 2.0 INTRODUCED IN OCT 2000
#4.PYTHON 3.0 INTRODUCED IN DEC 2008
#ANY NEW VERSION SHOULD PROVIDE SUPPORT FOR OLD VERSION
#IN PYTHON THERE IS NO BACKWAED SUPPORT THERE IS NO GARUNTEE THAT A APYTHON 2 PROGRAM WILL RUN FOR PYTHON 3
#SUPPORT FOR PTHON 2 WILL BE THERE TILL 2020
#THEY ARE MISSING BACKWORD SUPPORT SO THAT THEY CAN PROVIDE BETTER SUPPORT FOR NEW FEATURES
#IN INDIA PYTHON IS SUDDELY GAINING POPULARITY ONLU BEACSUE OF VERSION 3 IN US MARKET IT WAS FAMOUS FOR SEVERAL YEARS
#PYTHON 2 WAS NOT THAT MUCH POWERFUL

In [ ]:
#DIFFRERECE IN PYTHON 3 AND 2 
#1.IN PYTHON 2 print"HELLO" valid in PYTHON 3 print("hello") is valid => PARENTHESIS IS REQUIRED
#2.LONG DATA TYPE IN PYTHONO 2 BUT NOT IN PYTHON 3
#3.DIVIDE & DOUBLE DIVIDE OPERATOR DIFFERENCE / & // WILL GIVE DIFFERENT OUTPUT.

In [1]:
#IDENTIFIER
#==>NAME IN PYTHON IS CALLED IDENTIFIER 
#X=10 :HERE X IS THE IDENTIFIER X IS THE NAME OF VARIABLE
#def f1() : f1 is IDENTIFIER (FUNCTION NAME)
#class Test(Exception) : TEST IS IDENTIFIER (CLASS NAME) 
#VARIABLE NAME or CLASS NAME or METHOD NAME or FUNCTION NAME
###########RULES TO DEFINE IDENTIFIERS IN PYTHON############
#1.SYMBOLS WE CAN USE TO NAME IDENTIFIERS ARE:
#ALPHBET SYMBOLS(BOTH UPPERCASE AND LOWERCASE)
#DIGITS(0-9)
#UNDERSCORE SYMBOL(_)
#ANYOTHER SYMBOL WE WILL GET A ERROR.WE CAN USE $ SIGN IN JAVA BUT NOT IN PYTHON.# SIGN IS ALSO INVALID IN DEFINING INDENTIFIERS.
 #CASH=10 --VALID VARIABLE DEFINITION
 #CA$H=10 --INVALID VARIABLE DEFININTION (WILL GET EOOR DUE TO $ SYMBOL)
#2.IDENTIFIERS SHOULD NOT START WITH DIGIT. 
 #TOATAL=10 --- VALID VARIABLE DEFINITION
 #123TOTAL=10 ----INVALID VARIABLE DEFINITION
#3.PYTHON IDNTIFIERS ARE CASE SENSISITIVE
 # TOTAL=10
 # total=10 ...both total & TOTAL are different identifiers.   
#4.KEYWORDS(RESERVED WORDS) ARE NOT ALLOWED TO BE USED AS IDENTIFIERS
 #if=10
 #def=10....both will give error as "if" and "def" are keywords.   
#5 MAXIMUM LENGTH  ALOWED FOR PYTHON IDENTIFIER
#===> THERE IS NO LIMIT ON LENGTH OF IDENTIFIERS
 # XXXXXXXXXXXXX=10 (LENGTHY IDENTIFIER NAME) (NOT RECOMMENDED)
 # X=10   (SHORT NAME FOR IDENTIFIER )
#LENGTHY IDNETIFIER NAME WILL AFFECT THE READABLITY OF CODE
######SOME SMALL POINTS#########
#IF INENTIFIER STARTS WITH _ SYMBOL ITS IS KNOWN AS PRIVATE 
#IF INDETIIERS STARTS WITH __ SYMBOL IT IS STRONGLY PRIVATE.
#EX=>__main__ ,__name__,__add__

In [ ]:
#RESERVED KEYWORDS
#APPLE,BANANA THESE WORDS ARE RESERVED TO REPRESENT FRUITS
#CAT DOG THESE WORDS ARE RESERVED TO REPRESENT ANIMAL 

#SIMILARLY IN PROGRAMMING LANGUAGE SOME WORDS ARE RESERVED TO REPRESENT OR DEFINE SOME FUNCTIONALTY .
#PYTHON HAVE 33 RESERVED WORDS ONLY.LEARNING PYTHON IS JUST LEARNING THESE THINGS.
# True,False =Boolean words  # None=No value. Equivalent to "null" in java
# and,or,not,is 
# if,else,elif
# while,for,break,continue,return,in,yield : "in python "switch statement" and "do-while" is avaiable"
#try,except,finally,raise
#import,from,as(to create alias),def,pass,global(to declare loacal variable),nonlocal,lambda(to create anonymous finctions,del(to delete anything),with(used in file handling)
######################################################################################################################################################
# NOTE:
#1.ONLY ALPHABET SYMBOLS ARE USED IN KEYWORDS
#2.EXCEPT(True,False,None) ALL KEYWORDS ARE LOWERCASE WORDS
#a=True ,a=False ,a= None ===> VALID DECLARATION
#a=true,a=false ,a= none   ===> INVALID DECLARARTION

In [13]:
#DATA TYPES:
#1.int ===> to represent whole value (without decimal point)
# ex: 10,20,30,40
#2.float===> to represetn values with decmal point
#3.complex ==> to represent complex values (10+2i) used for scientific calculations
#4.bool ==> represent true,false values
#5.str ==> represnt string value
#6.bytes ==>  represent group of byte values
#7.bytearray ==> same as bytes but values in arary
#8.range ==> to represrent a range of numbers
#9.list ==> list of values
#10.tuple ==>list of values with some difference from list
#11.set==> list of values without duplcates
#12.frozenset ==> you can not modify set values
#13.dict ===> key-value pairs
#14.None ==> to represent null(no value)

#IN PYTHON 3 LONG DATA TYPE IS NOT AVAILABLE,IN PYTHON 3 WE CAN REPRESNT LONG WITH INT ITSELF
###################################################################################
#IN PYTHON EVEYTHING IS AN OBJECT (INCLUDING FUNCTION METHOD FFLOAD INT EVERYTHING)
#a=10  ##HERE 10 IS OBJECT AND "a" IS "REFRENCE VARIABLE" POINTING TO THAT OBJECET. 
###################################################################################

#PYTHON PROVIDES SOME INBUILT FUNCTIONS:
#print() ===> TO PRINT VALUE OF OBJECT.
#type() ===>TO FIND DATA TYPE OF OBJECT.
#id() ===> TO FIND ADDRESS OF OBJECT.

In [ ]:
##### INT DATA TYPE#######(NO LONG DATA TYPE IN PYTHON CAN BE DEFINED BY INT ONLY)
#THIS DATA TYPE IS USED TO HANDLE INTEGRAL(WHOLE) VALUES.
##THERE ARE 4 WAYS TO REPRESENT "INT" VALUES
#DECIMAL(BASE -10) (0-9)
# a=7878 BY DEFAULT WE USE DECIMAL VALUES

#BINARY(BASE-2)(0 & 1)
# a=1111 ==>THIS IS A DECOMAL VALUE NOT BINARY
# TO MAKE ANY NUMBER BINARY WE HEV TO USE "0B OR 0b" IN STARTING OF NUMBER
#a=0b1111 THIS IS A BINARY NUMBER

#Ocatal(base-8)(0-7)
#definition : a=0o777 or a=0O777

#HEXADECIMAL (BASE-16)(0-9,a-f)(a-f can be used as uppercase or lowercase)
#definition : 0X or 0x 
#a=0xface ,a=0Xbefef

#####OUTPUT WILL ONLY BE GIVEN IN DECIMAL FORM############

#X=10    
#Y=0B10    #INTERNALLY THESE VALUES ARE STORED IN DECIMAL VALUES ONLY.
#Z=0O10
#A=0X10
#print(x)==>10  #OUTPUT WILL BE IN DECIMAL
#print(y)==>2   #OUTPUT WILL BE IN DECIMAL
#print(z)==>8   #OUTPUT WILL BE IN DECIMAL
#print(a)==>16  #OUTPUT WILL BE IN DECIMAL

####IF I WANT TO PRINT THE OUTPUT IN DECIMAL,BINARY,OCLAT OR HEXADECIMAL FORM THEN THERE ARE SOME INBUILT FUNCTIONS
#1.bin(x) ==> PROVIDE ANY VALUE TO x (DECIMAL,OCATAL,HEXADECIMAL) IT WILL CONVERT INTO BINARY.
#2.oct(x) ==> PROVIDE ANY VALUE TO x (DECIMAL,BINARY,HEXADECIMAL) IT WILL CONVERT INTO OCTAL.
#3.hex(x) ==> PROVIDE ANY VALUE TO x (DECIMAL,OCATAL,BINARY) IT WILL CONVERT INTO HEXADECIMAL.
#EX.bin(15) OUTPUT  ==> '0b1111'
#bin(0o777) output  ==> 'ob111111111'
#bin(0x1234) OUTPUT ==>'0b1001000110100'


#THERE IS NO RANGE FOR INT VALUE IN PYTHON.
#INT=8768484868486468484684868644888545845848558
#type(int)==> int #OUTPUT WILL BE INT VALUE
# IN PYTHON EVERYTHING IS OBJECT SO THERE IS O SIZE ON LIMIT OF INT SIZE.

In [ ]:
####FLOAT DATA TYPE ######
#THIS DATA TYPE IS USED TO HANDLE/REPRESENT DECIMAL VALUES.
#EX. f=1234.56
#    type(f)
#OUTPUT==> FLOAT
###FOR FLOAT ONLY WAY TO DEFINE IS DECIMAL FORM.(BINARY OCALT HEXADECOMAL ARE NOT ALLOWED)
#F=0X12321.45 ==>INVALID DEFINITION 
##FOR FLOAT EXPONENTIAL FORM IS ALLOWED##
#F=1.2e3  (equivalent to 1.2*10^3) ==> BIGGER VALUES CAN BE REPRESENTED EASILY EVEN AT MEMORY LEVEL IT USES LESS MEMORY.

In [17]:
####COMPLEX DATA TYPE######
#FORMAT OF COMPLEX NUMBER==> a+bj (a=REAL PART,b =IMAGINARY PART) (j^2=-1)
####THE REAL VALUE CAN BE  BINARY OCTAL HEXADECIMAL IMAGINARY PART HAS TO BE DECIMAL ONLY.
#EX. A=0B1111+20J  REAL PART IS BINARY IMAGINARY IS DECIMAL.
#    A=20+OB1111 ==> INVALID DEFINITION
#COMPLEX NUMBER CAN BE ADDED,DIVIED,MULTIPLIED,SUBTRACTED
#WE CAN  CAN FIND REAL AND IMAGINARY VALUE OF COMPLES NUMBER BY WRITING CODE
# EX. A=10+20J
# A.real ==> 10 #OUTPUT WILL BE REAL PART OF COMPLEX NUMBER
# A.imag ==> 20.0 #OUTPUL WILL BE COMPLEX

# j IS MANDATORY TO REPRESENT COMPLEX TYPE

In [19]:
######BOOL DATA TYPE########
#ALLOWED VALUES FOR BOOLEAN ARE True & False.
# T  of True & F of False SHOULD BE CAPITAL.
# B=true ==> INVALID DEFINITION
# B=True ==> VALID DEFINITON ==>type(B)==> bool
#a,b=10,20
#c=a>b 
#print(c) #OUTPUT==>False  #OUTPUT WILL BE BOOL VALUE
#print(type(c))  ==>bool
#True+True= 2 ==> OUTPUT IS DECIMAL 2
#True+False= 1 ==> OUTPUT IS DECIMAL 1
##INTERNALLY IN PYTHON AT MEMORY LEVEL TRUE AND FALSE ARE CONSIDERED AS 1 & 0.

In [20]:
##### STRING(SRT)DATA TYPE#######(NO DISTINCT CHAR DATA TYPE IN PYTHON,IT IS DEFINED BY STR IN PYTHON)
#ANY SEQUENCE OF CHARCATER.
#EX.HYDERABAD IS NOT A STRING IN PYTHON 
#BUT "HYDERABAD",'HYDERABAD' WITH DOUBLE QUOTES OR SINGLE QUOTES IS CONSIDERED AS STRING.
#EX:  s="hyderabad"  type(s) ===>str
#SINGLE QUOTE OR DOUBLE QUOTE CAN ONLY DEFINE STRING IN SINGLE LINE
#EX. S="HYDERABAD IS GREAT CITY" ==>VALID DEFINITION
#S= "HYDERBAD
#    IS GREAT CITY"  ==>INVALID DEFINITION 2 LINES ARE USED IN DOUBLE QUOTES.
# TO USE MULTI LINE STRING WE USE TRIPLE QUOTES
#S= """HYDERBAD
#    IS GREAT CITY""" ==> VALID DEFINITION
# IT CAN BE TRIPLE SINGLE QUOTE OR TRIPLE DOUBLE QUOTES.
#IF WE ALREADY HAVE A QUOTE IN THE STRING WE WANT TO USE THEN IT WILL HANDELED BY USING ->SINGLE OR DOUBLE- TRIPLE QUOTES.
#EX: IF WE WANT TO PRINT --> MBA "PYTHON" CLASSES ARE REALLY HELPFUL.
#THEN WE WILL USE TRIPLE QUOTES
# S="""MBA "PYTHON" CLASSES ARE REALLY HELPFUL"""
# print(S)
# STRING HAVE SPECIAL PREFRENCE IN ANY PROGRAMING LANGUAGE.

#### NOTICE HOW QUOTES ARE USED TO HANDLE QUOTES IN STRING####
#s="Python in \"Mba\" is Good"
#s='Python in "Mba" is Good'
#s="Python in 'Mba' is Good"
#s="""Python in "MBA" is Good and 'course' is good"""


#######SLICE OPERATOR#### (SLICE MEANS "PEICE")
# S= "MBA CLASSES ARE REALLY HELPFUL"
# S[2:8] THIS WILL GIVE SLICE OF STRING S 
# OUTPUT==>'A CLAS' #WE SELCETED A SUBSTRING
# S[BEGIN:END] ==> "SLICING OPERATOR"
# 2 & 8 ARE INDEX VALUES.FIRST VALUE IS STARTING VALUE SECOND IS ENDING VALUE
# ENDING VALUE IS ALWAYS COUNTED UPT0 (N-1) i.e ENDING VALUE WILL BE COUNTED UPTO 7 ONLY.
# INDEXING CAN BE BOTH POSITIVE AND NEGATIVE
# POSITIVE INDEXING STARTS FROM 0  #COUNTED FROM LEFT TO RIGHT.
# NEGATIVE INDEXING STARTS FROM -1 #COUNTED FROM RIGHT TO LEFT.
# STARTING VALUE SHOULD BE LOWER AND ENDING SHOULD BE HIGHER. EX:S[-4:-1].
# END AND BEGINING ARE OPTIONAL.
# WE CAN SLICE BY USING S[BEGIN:] OR S[:END]
# EX: S= "PYTHON"
# S[1:],S[:4],S[-1:-4]
#IN SLICE OPERATOR WE DOT GET ERROR

####SLICE WITH GAP#####
#    S[START:END:STEP]
# EX: S= "PYTHONISGREATLANGUAGE"
#     S[0:10:2] OUTPUT==>'PTOIG' # GAP OF TWO VALUES

# WE CAN PRINT SAME STRING MULTIPLE TIME BY USING ULTIPLICATION WITH INTEGER.
# EX S='PYTHON'  WITHOUT USING FOR-LOOP WE ARE PRINTING STRING MULTIPLE STRING
     print(S*15)
#OUTPUT ==> PYTHONPYTHONPYTHONPYTHONPYTHON
#WE CA FIND LENGTH OF STRING BY USIN len(S):
# S='PYTHON' 
# len(S) # OUTPUT ==> 6

In [ ]:
#TYPE CASTING OR TYPE COERSION
#WE CAN CONVERT THE DATA TYPES 
#int()
#float()
#complex()
#bool()
#str()


#EXAMPLE:
#int(123.456)==> 123 #OUTPUT ONLY INTEGER VALUE
#int(10+20j)==>TYPE ERROR #WE CANNOT CONVERT COMPLEX TO INT.
#int(True)==> 1
#int("10")==> 10 ,int(10.5)==> 10 #AS ALWAYS IS INT VALUE.
#IF WE WANT TO CONVERT STRING INTO INT IT SHOULD BE IN DECIMAL(BASE-10) ONLY.BINALY OCTAL OR HEXADECIMAL ARE NOT ALLOWED
#int(ob111)==> VALUE ERROR (BASE-10) NOT PRESENT.


# float(10)==> 10.0 #DECIMAL VALUE WILL BE ADDED (.0)
# float(10+20j)==> TYPE ERROR #COMPLEX CANT BE CONVERTED TO FLOAT.
# float(True)==> 1.0 # True IS CONSIDERED AS 1 AT MEMORY LEVEL IN PYTHON.(DECIMAL VALUE)
# float("10")==> 10.0 float("10.5")==> 10.5
# float("ten")==> VALUE ARE NOT DECIMAL (BASE-10).
# float(0b1111)==> VALUE ERROT ONLY DECIMAL(BASE-10) ARE ALLOWED.

# complex(10)==(10+0j),complex(10+.5j)==>(10.5+0j)
#complex(True)==>(1+0j),complex(Fasle)==> (0j)
#complex("10")==>(10+0j),complex("10.5")==>(10.5+0j)
#complex("ten")==> VALUE ERROR

#comlex(10,20)==>(10+20j)
#complex(True,False)==>(1+0j)
#complex(10,20.5)==>(10+20.5j)
#complex("10","20")==> WE CANNOT PASS TWO ARGUMENTS WEHN WE TAKE STRING VALUES.

#bool(0)==>False
#bool(10)==>True #FLASE FOR ZERO TRUE FOR NON ZERO.
#bool(-10)==>True
#bool(0.0)==>False #BEFORE AND AFTER DECIMAL SHOULD BE ZERO TO GET FALSE.
#bool(0.8)==>True #FLASE FOR 0.0 TRUE FOR NON ZERO.
#bool(10+20j)==>True #IF BOTH REAL & IMAGINAY PART ARE 0 THEN ONLY WE GET FALSE ELSE WE GET TRUE.
#bool(0+0j)==>Flase
#bool(0+1j)==>True
#bool('')==>False #FOR ONLY EMPTY SRTING WE GET False OR WE GET TRUE
#bool("python")==> True
#bool(" ")==> True ==>HERE STRING HAVE ONE SPACE AND EVEN THAT IS CONSIDERED AS CAHRCTER IN PYTHON.


#str(10)==>"10"
#str(10.5)==>"10.5"
#str(True)==>"True"
#str(False)==>"False"
#str(10+20j)==>"10+20j"
#THERE IS NO RESTRICTION ON str() function.

In [31]:
#IMMUTABLE VS FUNDAMENTAL DATA TYPES(INT,FLOAT,BOOL,STRING,COMPLEX)
# "ALL FUNDAMENTAL DATA TYEPES ARE IMMUTABLE"
# "ONCE WE CREATE AN OBJECT WE CAN NOT CHANGE IT"
#IF SOMEBODY IS TRYING TO CAHNE THE VALUE OF THAT OBJECT A NEW OBJECT WITH CHANGED VALUE WILL BE CREATED,BUT THE OLD VALUE WILL NOT CHANGE"
#THIS "NON-CHANGEABLE" NATURE IS COSIDERED AS IMMUTABLE.
#IF X=10 THEN THE VALUE OF X IS 10 
#IF I DO X=11 
#THEN WE ARE TRYING TO CHANGE THE OJECT CONTENT,
#BUT NOW X WILL POINT TOWARDS 11 AND 10 WILL GO FOR GARBAGE COLLECTION
#NEW OBJECT WILL BE CREATED INTERNALLY AND THEN X WILL POINT TO CONTENT VALUE 11.

#IF X=10 & Y=10 THEN X & Y BOTH POINT TOWARDS SAME OBJECT 10 TO SAVE MOMORY & IMPROVE PERFORMANCE.
id(X),id(Y)=1844997472 #SAME FOR BOTH.
#MULTIPLE REFRENCES CAN POINT TOWARD SINGLE CONTENT THATS WHY IMMUTABLITY CONCEPT IS REQUIRED.
#IF ANY REFRENCE WANTS NEW VALUE THEN NEW OBJECT WITH NEW VALUE WILL BE CREATED
#FOR MEMORY UTILIZATION AND PERFORMANCE IMPROVEMENT IMMUTABLITY IS REQUIRED
#EVERYTHING IN PYHTON IS OBJECT.
#########################################################

#X=10,Y=10
#WE WANT TO CHECK IF X IS Y ? (IS OPERATOR IS USED)
#ANSWER WILL BE TRUE
# Y IS X
#ANSWER WILL BE TRUE
# SIMILARLY #X=True,Y=True,Z=True 
#X IS Y ==> TRUE, Y IS X==> TRUE ,Z IS X ==> TRUE

######BUT X=257 ,Y=257
###### X IS Y ==> False ## BECAUSE REUSING SAME OBJECT IN INT IS VALID FROM 0-256 ONLY.
####ID WILL ALSO BE DIFFERENT.
##WHY RANGE IS 0 TO 256 BECAUSE IT IS THE COMMONLY USED RANGE.
# WE CANNOT MAKE LARGE RANEG BECAUSE WE HAVE TO CREATE TAHT MUCH OBJECTS AT START AND THE PERFORMANCE WILL BE DECREASED.

######X=10.0 , Y=10.0
######X IS Y ==> Fasle FOR FLOAT REUSEABITY IS NOT AVAILABLE
#FOR FLOAT THERE ARE INFINTIE VALUE BETWEEN TWO NUMBER HENCE IT IS IMMOSIBLE TO DEFINE A RANGE .

#######X=10+20J,Y=10+20J
########X IS Y ==> False
#FOR COMPLEX THERE ARE INFINTIE VALUE BETWEEN TWO NUMBER HENCE IT IS IMMOSIBLE TO DEFINE A RANGE .  

#FOR STRING SHARING IS AVAIABLE

In [57]:
######BYTE DATA TYPE#####
#IT IS SOMETHING LIKE AN ARRAY IF WE WANT GROUP OF VALUES THEN WE CAN TAKE BYTES DATA TYPE.

#x=[10,20,30,40]
#b=byte(X)
#b is byte data type which contains 4 objects we can acces the objects by using:
#b[1],b[0],[b-1],
#b[1:3] ==>SOME RANDOM VALUE(NOT ERROR)

#IN BYTES DATA TYPE EVERY VALUE SHOULD BE IN THE RANGE 0-256
#X=[20,26,256,258]
B=bytes(X) ===> VALUE ERROR VALUES MUST BE IN RANGE 0-256
#BYTES DATA TYPE IS IMMUTABLE
#X=[10,20,30,40]
#B=bytes(X)
#b[0]=120 #ITEM ASSIGNMENT IS NOT SUPPORTED

In [ ]:
#####BYTE-ARRAY DATA TYPE######
#BOTH BYTES & BYTES-ARRAY ARE SAME ONLY DIFFERENCE IS:
#BYTE-ARRAY ARE MUTABLE AND BYTES ARE IMMUTABLE.
#x=[10,20,30,40,50]
#b=bytearray(x)
#b[0]=120 ===>VALID ASSIGNMENT BYTE-ARRAY IS MUTABLE
#BYTE ARRAY SHOULD BE IN RANGE 0-256

In [ ]:
#IF OUR REQIUREMENTIS BETWEEN -0-256 THEN WE CAN USE BYTE OR BYTE ARRAY
#IF WE WANT TO REPRESENT BINARY DATA LIKE IMAGE AND VIDEO FILES THEN WE USE BYTES AND BYTEARRAY.

In [ ]:
#####LIST DATA TYPE#######
#IF WE WANT TO REPRESNT A GROUP OF VALUE AS SINGLE ENTITY WHERE INSERTION ORDER IS PRESERVED AND DUPLICATES ARE ALLOWED THEN WE SHOULD GO FOR LIST DATA TYPE.
#LIST IS CREATED BY USING SQUARE==> [] BRACKETS.
#EX. L=[] #EMPTY LIST.
#L.append[10],L.append[20],L.append[30],print(L)
##append IS USED TO INSERT VALUE INTO LIST
#OUTPUT==> L=[10,20,30] #THE INSERTION ORDER IS PRESERVED.
#L.append[None] prit(L)
#OUTPUT==> L=[10,20,30,NONE]
#IT SUPPORT INDEXING & SLICING.WE CAN EXTRACT OBJECT BY USING INDEXING 
#### NOTE########
#ORDER IS SUPPORTED 
#DUPLICATES ARE ALLOWED
#HETEROGENEOUS DATA TYPES ARE ALLOWED
#GROWABLE
#LIST IS MUTABLE
#VALUES SHOULD BE ENCLOSED WITH []
## WE CAN ALSO REMOVE THE VALUES  USING L.remove()
#INDEX CN BE +VE(LEFT TO RIGHT) OR -VE(RIGHT TO LEFT)
#SLICE OPERATOR IS ALSO APPLICABLE
#STAR OPERATOR (*) =>WE CAN ALSO ADD SAME OBJECTS BY MULTIPLYING
#L=[20,20,40,"THE"]
# M=L*2 print(M)
#OUTPUT==> [20,20,40,"THE",20,20,40,"THE"]


#IF I WANT IMMUTABLITY THEN I WILL USE TUPLE

In [ ]:
######TUPLE DATA TYPE#######
#DIFFERENCE ==> LIST IS IMMUTABLE ,TUPLE IS MUTABLE
#ALL OTHER POINTS ARE SAME AS LIST
#THERE IS NO VALUE RANGE LIMIT
#TUPLE IS REPRESENTED INSIDE PARENTHESIS ()
#T=(10,20,30)

In [ ]:
#####RANGE DATA TYPE#####
#RANGE REPRESENT A SEQUENCE OF VALUES (NUMBERS)
#RANGE DATA TYPE IS ALWAYS IMMUTABLe
#RANGE SUPPORT SLICING AND INDEXING.
#FORM 1 ==>range(10) ==> IT REPRESENT VALUES FROM 0 TO 9 )(ZERO TO N-1)
#R=range(10)
#R[0]=777 ===> INVALID BECASUSE RANGE IS IMMUTABLE
#FORM 2==> r=range(10,30)
#range(start,end) ## END= (N-1)
#FORM 3==>r=range(10,50,5)
#range(start,end,step)

### RANGE IS NOT APPLICABLE FOR FLOAT VALUES
# R=range(10.5,50.8)===> VALUE ERROR NOT APPLICABLE ON FLOAT VALUES

In [ ]:
####SET DATA TYPE######
# DIFFERENCE BETWEEN SET AND LIST?
# LIST=ORDER & DUPLICATE OF VALUES IS ALOWED 
# SET="ORDER" IS NOT IMPORTANT & "DUPLICATE" ARE NOT ALLOWED
# IT IS DEFINED IN CURLY BRACES ==> {}

#S={10,20,30,10,20,30} ===>VALID DEFINITION BUT OUTPUT WILL BE DIFFERENT
#print(S)
#OUTPUT==> 10,20,30  

#SETS ARE MUTABLE:
#S={10,20,30}
#S.add("python")
#OUTPUT ==> "10,20,30,python"

# INDEXING  SLICING ARE NOT APPLICABLE IN SETS BECAUSE INTERALLY THERE IS NO INDEXING.
#S={10,20,30}
#S[0]  ===> TYPE ERROR ,SET DONT SUPORT SLICING
#S[1:3]==> TYPE ERROR,SET DONT SUPPORT SLICING

#TO CREATE A EMPTY SET WE NEED TO USE
#s=set()

####NOTE###
#INSERTION ORDER IS NOT PRESERVED
#DUPLICATES ARE NOT ALLOWED
#HETEROGENOUS OBJECTS AR ALLOWED
#INDEXING IS NOT ALLOWED
#SLICNG IS NOT ALLOWED
#SET IS MUTABLE 
#SET IS GROWABLE

#s=(10,20,30,40)'# 
# fs=frozenset(s)
# fs ==> ({40,20,10,30}) ==> ORDER IS NOT MAINTAINED
##3 FROZENSET DOES NOT SUPPOR fs.add() or fs.remove()
##FROZENSET IS IMMUTABLE

In [ ]:
#####DICTONARY DATA TYPE#######
#DICTONARY IS GROUP OF KEY VALUE PAIR
#DUPLICATE KEYS ARE NOT ALLOWED BUT VALUES ARE ALLOWED
#D= {100:"DURGA",200:"SITA",300:"MATA"}
#KEY AND VALUE CAN BE ANY TYPE OF OBJECT
#D={} ==> IS IT A SET OR DICTONARY?
#IT IS BY DEFAULT ALWAYS TREATED AS DICTONARY.

#DICTONARY IS MUTABLE WE CAN ADD VALUES IN THE DICTONARY
#D= {100:"DURGA",200:"SITA",300:"MATA"}
#D[400]="PITA" #THIS VALUE WILL BE ADDED TO DICTONARY D
#ORDER IS NOT IMPORTANT IN DICTONARY
#IF WE TRY TO INSERT ENTRY WITH DUPLICAE KEY WE DINT GET VALUE BIT THE VALUE IS REPLCED BY NEW VALUE
#

In [ ]:
####NONE DATA TYPE#################
#NON REPRESET NO VALUE ASSOCIATION OR NO VALUE
#def f1():a=10 #FUNCTION f1() IS RETURNING NOTHING SO THE OUTPUT IS "NONE"  #NONE IS USED TO HANDLE SUCH SENARIOS
print(f1())   #THERE IS NO VALUE SO NONE WILL BE ASSIGNED TO F1()
#OUTPUT==> None

#def f2():print("hello dont be like none"

In [75]:
#### ESCAPE CHARACTER#######
# \n,\t,\r,\b,\f,\',\"",\\,\\v.....

#######CONSTANT########
THERE IS NO WAY TO DEFINE CONSTANT  IN PYTHON

In [21]:
print("hello world") #FIRST PROGRAM

hello world

In [3]:
A,B=20,30   #ADDING TWO NUMBERS
print(A+B)

50

In [43]:
a,b,c,d,e,f=20,30.5,40,50,60,70  #adding 6 numbers
print(a+b+c+d+e+f)

270.5

TYPE OF ALL VARIABLES

In [44]:
type(A),type(B),type(a),type(b),type(d),type(e),type(f)

(bool, int, int, float, int, int, int)

In [18]:
A=True  # ASSIGNING BOOLEAN VALUE TO A AND IT WILL NOW BE TREATED A BOOLEAN BEFORE IT WAS "INT".
type(A) #CHECKING TYPE

bool

In [24]:
def f1():print("good evening") #DEFINED FUNCTION f1() TO PRINT "GOOD EVENING"

In [25]:
f1()

good evening

In [33]:
for i in range(10): #PRINTING 0 TO 9
    print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
a,b=30,50   #DEFINIG VARIABLE USING IF ELSE
X=20 if a>b else 30
X

30

In [42]:
x=10        
if x==10:
    print("hello")
else:
    print("yellow")

hello

In [1]:
import keyword  #importing keyword module
keyword.kwlist  #printing keyword list

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
a=10     #object is 10,, varibale is a 
print(a)
type(a),id(a) # to check data type & address of object.

10

(int, 94671179453504)

In [12]:
a=1111   #decimal
print(a)
b=0b1111 #binary 
print(b)  # (output will be int value)
c=-0b1111 # (minus sign before the number)
print(c)  # (output will be int value)
d=0o777  #octal 
print(d)  # (output will be int value) 
e=0xfacE #hexadecimal
print(e)  # (output will be int value)

1111
15
-15
511
64206

In [8]:
INT=8768484868486468484684868644888545845848558
type(INT)  # NO LIMIT ON RANGE OF INTEGER COMPARED TO JAVA.

int

In [11]:
print(bin(15))   #INPUT DECIMAL
print(bin(0o777)) #INPUT OCATAL
print(bin(0x1234)) #INPUT HEXADECIMAL

0b1111
0b111111111
0b1001000110100

In [14]:
print(hex(10))     #INPUT DECIMAL (10=A)
print(hex(16789))  #INPUT DECIMAL

0xa
0x4195

In [16]:
F=1.2e3
print(F)

1200.0

In [23]:
a,b=10,20
c=a>b 
print(c)        #OUTPUT WILL BE BOOL VALUE
print(type(c))

False
<class 'bool'>

In [3]:
True+True,True+False,True/True,False/True

(2, 1, 1.0, 0.0)

In [2]:
S="""MBA "PYTHON" CLASSES ARE REALLY HELPFUL"""  #USE OF TRIPLE QUOTES TO HANDLE QUOTES IN THE STRING.
print(S)

MBA "PYTHON" CLASSES ARE REALLY HELPFUL

In [12]:
S= "PYTHON"
S[-1],S[-2],S[-3],S[-4],S[-5],S[-6],S[1:4],S[2:4]

('N', 'O', 'H', 'T', 'Y', 'P', 'YTH', 'TH')

In [14]:
S= "PYTHON"
S[1:],S[:4],S[-1:-4],S[-4:-1]

('YTHON', 'PYTH', '', 'THO')

In [15]:
S= "PYTHON"
S[-1:-4],S[-4:-1]

('', 'THO')

In [20]:
S= "PYTHONISGREATLANGUAGE"
S[0:10:2]

'PTOIG'

In [23]:
S='PYTHON'
print(S*5)

PYTHONPYTHONPYTHONPYTHONPYTHON

In [25]:
S='PYTHON'
len(S)

6

In [27]:
int(123.456),int(True)

(123, 1)

In [32]:
X=10
id(X)

1844997472

In [33]:
Y=10
id(Y)

1844997472

In [36]:
V1="PY"
V2="PY"
V3="PY"
id(V1),id(V2),id(V3) #WE WIL GET SAME ID BECAUSE V1,V2,V3 POINT TOWARD SAME OBJECT

(2807734342856, 2807734342856, 2807734342856)

In [37]:
V1="PY"
V2="PY"
V3="PY"
V4="WHY"
id(V1),id(V2),id(V3),id(V4)#HERE V4 WILL POINT TOWARDS OBJECT "WHY".HENCE LOCATION OF V4 WILL BE DIFFERENT.

(2807734342856, 2807734342856, 2807734342856, 2807734341792)

In [43]:
X=10 
Y=10
X is Y,Y is X

(True, True)

In [44]:
X=257  # FOR INT VALUES AFTER 256 ARE NOT ALLOWED FOR REUSABLITY
Y=257
X is Y

False

In [45]:
X=10+20J
Y=10+20J #FOR COMPLEX REUSABILITY IS NIT AVIALABLE
X is Y

False

In [46]:
X=10.0 
Y=10.0
X is Y

False

In [4]:
x=[10,20,30,40]
b=bytes(x)
print(type(b))
b[0],b[-1],b[0:3]

<class 'bytes'>

(10, 40, b'\n\x14\x1e')

In [7]:
for x in b :print(x)

10
20
30
40

In [14]:
x=[10,20,30,40]
b=bytearray(x)
b[0]=120    #BYTE ARRAY IS MUTABLE
for i in b: print(i)

120
20
30
40

In [23]:
L=[10,20,30,None]
print(L[-1],L[1:5])

None [20, 30, None]

In [27]:
L=[10,20,30,None]
M=L*2   ###STAR OPERATOR IS ALLOWED
M

[10, 20, 30, None, 10, 20, 30, None]

In [28]:
R=range(10)
for i in R: print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
r=range(0,10)
for i in r :print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
r[0],r[3],r[5],r[0:5] ## SLICING OPRATOR ANSERS ARE IN RANGE() FORMAT

(0, 3, 5, range(0, 5))

In [34]:
for i in range(10,50,5):print(i)  # 50 IS NOT PRESENT BECAUSE END IS N-1 =49 IN THIS CASE AND IT IS NOT PRINTED DUE TO GAP OF 5

10
15
20
25
30
35
40
45

In [54]:
s=set()
for i in range(10):s.add(i)  
print(s)

SyntaxError: invalid syntax (<ipython-input-54-e78f9b4d481f>, line 1)

In [56]:
D= {100:"DURGA",200:"SITA",300:"MATA"}
print(D)

{100: 'DURGA', 200: 'SITA', 300: 'MATA'}

In [59]:
D[100]="PITA" #VALUE AT 100 IS REPLACED BY "PITA"
print(D)

{100: 'PITA', 200: 'SITA', 300: 'MATA'}

In [73]:
def f1():a=10  
f1()   #FUNCTION f1() IS RETURNING NOTHING SO THE OUTPUT IS "NONE"  #NONE IS USED TO HANDLE SUCH SENARIOS
print(f1())   #THERE IS NO VALUE SO NONE WILL BE ASSIGNED TO F1()

None

In [72]:
def f2():print("hello dont be like none")
f2()
print(f2()) #WE GET OUTPUT NONE  BECAUSE F2() IS NOT RETURNING ANYTHING JUST PRINTING .

hello dont be like none
hello dont be like none
None

In [76]:
#def f3():  #HERE WE ARE NOT REQUIRED TO USE KEYWORD PASS BECAUSE FUNCTION IS NOT DOING ANYTHING
#    pass

#if amount>1000:
##else:
#    pass

In [82]:
s="Python in \"Mba\" is Good"
s='Python in "Mba" is Good'
s="Python in 'Mba' is Good"
s="""Python in "MBA" is Good and 'course' is good"""

In [9]:
SUM=print("THE SUM IS:",int(input("ENTER FIRST NUMBER::"))+int(input("ENTER SECOND NUMBER::")))

ENTER FIRST NUMBER::14
ENTER SECOND NUMBER::12
THE SUM IS: 26

In [2]:
# TO READ EMPLOYEE DATA FROM THE KEYBOARD

eno=int(input("enter employee no::"))
ename=input("enter employee name::")
esal=float(input("enter employee salary::"))
eadd=input("enter employee address::")
married=bool(input("relationship status:[True|False]"))
print("Please Confirm Information::")
print("Employee Number:: ",eno)
print("employee name:: ",ename)
print("employee salary:: ",esal)
print("Employee address:: ",eadd)
print("Employee Married? ::",married)

enter employee no::12
enter employee name::ishu
enter employee salary::78968955168
enter employee address::756 lmfidsfsdf
relationship status:[True|False]True
Please Confirm Information::
Employee Number::  12
employee name::  ishu
employee salary::  78968955168.0
Employee address::  756 lmfidsfsdf
Employee Married? :: True

In [ ]:
# READING MULTIPLE VALUES FROM KEYBOARD IN SINGLE LINE
# step 1 
a,b=[int(x) for x in input("Enter 2 numbers").split()]
print('sum is :',a+b)
#10 and 20 are strings after splitting thne with int(x we convert into int values)
#split use sapce as default operator,enter values by giving sapce between thenm

In [57]:
a,b=[float(x) for x in input("enter two float numbers").split(',')]
print("the sum is::",a+c+b)
a,b,c,d=[int(x) for x in input("enter 4 values").split(",")]
print("the sum is::",a+c+b+d)



### if we wwant multiple values of dirrernt datatytpe then you need to use multiple sagtatements.

## eval():: evaluate function

#eval( ) only takes srting as input

# eval will automatically convert float to float int to int and str to str but input will always be in string format that is in double quotes

enter two float numbers10.5,20.5
the sum is:: 61.0
enter 4 values10,20,30,40
the sum is:: 100

In [5]:
ex=eval("10+520+30")
print(ex)

ex=input("enter some expression")
print("the result is :",eval(ex))

560
enter some expression1+2
the result is : 3

In [ ]:
#  argv to take command line input  from sys import argv
#itpye is list it also take the file name in input
#take input from argv[1:(n-1)]

In [3]:
##OUTPUT SATAEMENTS
#form 1 without string
print("") #EMPTY OUTPUT
# USING ESCAPE CHARACTERS

print("hello\npython")

hello
 python

In [5]:
print("hello\tpython")

hello	python

In [6]:
#form type with string
#using concatenation operator '+"
print("hello"+"python")  #both arguments should be string only

hellopython

In [8]:
print("hello "*9)  #one argument should be int type other should be string

hello hello hello hello hello hello hello hello hello

In [12]:
#form 3
print("hello"+"python") # here no space will be added between two argumnet
print("hello ","python") #here space will be added between two argumnets comma will not come in output/

hellopython
hello  python

In [13]:
a,b,c=10,20,30
print("the value is::",a,b,c) # for print any no of arguments we can take without problem

the value is:: 10 20 30

In [15]:
# if we want comma in output between values insted of space the we use
#sep=""

a,b,c=10,20,30
print(a,b,c)
print(a,b,c,sep=",")
print(a,b,c,sep="*")

10 20 30
10,20,30
10*20*30

In [17]:
#pyton automatically add ouptput in new line 
print("hello")
print("students")
print("python isvery easy")
print("pthom")

hello
students
python isvery easy
pthom

In [20]:
# if we want to print ouput in single line we use end operator
#end=""
print("hello",end=" ")
print("students",end=" ")
print("python is very easy",end=" ")
print("ramu",end=" ")

hello students python is very easy ramu

In [24]:
#using sep and end together
print(10,20,30,40,sep="-",end="...")
print(40,86,76,sep="/")

10-20-30-40...40/86/76

In [26]:
#with print we can pass any object
l=[10,20,30,40]
t=(10.62,6874,6587,687,441)
s={68464,6843,634,68468,767,64}
print(l,t,s)
      #or
print(l,end="...")
print(t,end="...")
print(s,)

[10, 20, 30, 40] (10.62, 6874, 6587, 687, 441) {64, 68464, 68468, 634, 6843, 767}
[10, 20, 30, 40]...(10.62, 6874, 6587, 687, 441)...{64, 68464, 68468, 634, 6843, 767}

In [31]:
#print formatted string
# %i==> int type
# %d==> int type
# %f==> float
# %s==> str type

In [35]:
#print("formatted string" %variable)

a,b,c,d=10,20,30,40
print("a value is %i" %a)
print("a value is %i and b value is %i" %(a,b))

a value is 10
a value is 10 and b value is 20

In [36]:
name="python"
l=[10,20,50,40]
print("hello %s the list is : %s" %(name,l))
#no of variale and arguments should match

hello python the list is : [10, 20, 50, 40]

In [41]:
# print with replacement operator
# {}===> replacement opertor
## 3 formats 
name="python"
salary=100000
wife="sunny"
print("hello {0} your salary is {1} and wife is {2} waiting".format(name,salary,wife))
print("hello {} your salary is {} and wife is {} waiting".format(name,salary,wife))
print("hello {z} your salary is {x} and wife is {y} waiting".format(z=name,y=salary,x=wife))

hello python your salary is 100000 and wife is sunny waiting
hello python your salary is 100000 and wife is sunny waiting
hello python your salary is sunny and wife is 100000 waiting