WAYS TO CREATE LIST  
L=[]  
L=[10,20,30]  
L=eval(input("enter some list:")  
l=list(Sequence)  
l=s.split(separator)

nested list:[10,20,30,[80,90]]

In [3]:
list=[1,2,3,4,5,5]

to extract elemets of list using while loop

In [4]:
i=0
while i<len(list):
    print(list[i])
    i=i+1

1
2
3
4
5
5

In [5]:
for x in list:
    print(x)

1
2
3
4
5
5

In [6]:
for x in list:
    if x%2==0:
        print(x)

2
4

In [7]:
x=len(list)
for i in range(x):
    print(list[i],"is available at positive index:",i,"and at negative index:",i-x)

1 is available at positive index: 0 and at negative index: -6
2 is available at positive index: 1 and at negative index: -5
3 is available at positive index: 2 and at negative index: -4
4 is available at positive index: 3 and at negative index: -3
5 is available at positive index: 4 and at negative index: -2
5 is available at positive index: 5 and at negative index: -1

In [11]:
def f1():
    print("hello this is a function")
class studnet:
    def info(Self): # this is  a method since its defined in a class
        print("it is method and dont get confuse")

In [9]:
f1()

hello this is a function

important function and methods  of list

In [23]:
l=[10,20,20,30,40,5,6,60,70]

In [22]:
l.count(10) # count is a method it count occurance if elements

1

In [24]:
l.count(20)

2

In [27]:
l.index(10)

0

In [28]:
value=int(input("enter a vlaue of list:"))
if value in l:
    print(value," is available and its first occourance is at:",l.index(value))
else:
    print(value," not available in list")

enter a vlaue of list:10
10  is available and its first occourance is at: 0

In [30]:
value=int(input("enter a vlaue of list:"))
try:
    print(value," is available and its first occourance is at:",l.index(value))
except ValueEror:
    print(value," not available in list")

enter a vlaue of list:10
10  is available and its first occourance is at: 0

### MAIPULATING ELEMENTS OF LIST

APPEND() METHOD

TO ADD ALL ELEMENTS TO A LIST UPTO 100 THAT ARE DIVISINLE BY 10

In [33]:
l=[]
for x in range(0,101,10):
    l.append(x)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [37]:
l=[]
for x in range(101):
    if x%10==0:
        l.append(x)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

insert method:  
insert(index,element)

In [39]:
l=[]
l.insert(50,77)
l

[77]

In [40]:
l1=["chicken","muayo","fish"]
l2=["kf","rc","bl"]
l1.extend(l2)

In [41]:
print(l1)

['chicken', 'muayo', 'fish', 'kf', 'rc', 'bl']

In [42]:
print(l2)

['kf', 'rc', 'bl']

In [ ]:
#remove()--> to remove specified element
#pop(index)==> to remove and return last elemet if you want ypu can speciy index also

In [44]:
#reverse()--> revese the elements of list

In [46]:
#sort()--> the list should contain homogenious elemetns

In [ ]:
#aliasing
#copy==> cloning

#x=y
#x=y.copy()

In [ ]:
# + operator ==> both argumnets should be list only
# * operator >> list * 3

compare list objects

In [48]:
x=["dog","cat",'rat']
y=["dog","cat",'rat']
z=["DOG","CAT",'RAT']

In [50]:
print(x==y)
print(x==z)
print(x!=z)

True
False
True

TO COAMPARE LIST:    
the number of elements must be equal  
the order should be same  
teh contents should be same(including case)

In [52]:
X=[10,20,30]
print(X)

[10, 20, 30]

In [55]:
X.clear() # this will delte all elements of list
print(X)

[]

### nested lists

In [63]:
x=[10,20,30,[30,40]]
print(x)

[10, 20, 30, [30, 40]]

In [68]:
x[0]

10

In [70]:
print(x[2])

30

In [71]:
l=[]
for x in range(1,11):
    l.append(x*x)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
l=[x*x for x in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [77]:
words=["pinkuuuu","chinku","rinku56","titu"]
l=[w for w in words if len(w)>6]
print(l)

['pinkuuuu', 'rinku56']

In [78]:
words=["pinkuuuu","chinku","rinku56","titu"]
l=[w[0] for w in words]
print(l)

['p', 'c', 'r', 't']

In [83]:
n1=[10,20,30,40]
n2=[30,40,50,70]
n3=[x for x in n1 if x not in n2]
print(n3)

[10, 20]

In [89]:
words="the quick brown fox jumps over teh lazy dog".split()
print(words)
l=[[x.upper(),len(x)] for x in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'teh', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['TEH', 3], ['LAZY', 4], ['DOG', 3]]