In [ ]:
# STANDARD STEPS TO COMMUNICATE WITH DATA
# 1.IMPORT THAT DATABASE SPECIFIC MODULE : IT CONNECTS THE PYTHON WITH DATABSE
#   FOR ORACLE DATABASE
# ==>import cx_Oracle # O is capital
#   FOR MYSQL 
# ==>import pymysql

# 2.Establish connection between python program db
# CREATE CONNECTION OBJECT
# ===>con=cx_Oracle.connect(database information);
# ex.... con= cx_Oracle.connect("username@localhost")

# 3. CURSOR : TO EXECUTE OUR QUERY AND TO HOLD RESULT SOME SPECAIL OBJECT MUST BE REQUIRED THAT OBJECT IS CURSOR OBJECT
# CREATE CURSOR OBJECT
# cursor=con.cursor()


# 4. EXECUTE THE SQL-QUERY: 
# ==>cursor.execute(sqlquery)===> a single query
# here execute() method is used to execute a single query
# ==>cursor.executescript(sqlqueries)==> To execute a string of sql queries separated by semicolumn
# ==> cursor.executemany()==> to execute a parameterized query


#5. FETCH THE RESULTS:
# cursor.fetchone(): to fetch only one row
# cursor.fetchall(): to fetch all rows
# cursors.fetchmany(n): to fetch n rows

#6. COMMIT: TO SAVE THE RESULTS INTO DATABASE AFTER PERFORMING OPERATIONS
# ==>commit() ==> 
#  ROLLBACK : TO GO BACK TO LAST COMMIT
# ==> rolback()

# CLOSE THE CONNECTION
# cursor.close()
# con.close()



# BEFORE USING THIS CREATE A 'DATABASE' IN MYSQL AND A 'TABLE' OF EMPLOYEE WITH ENO INT,ENAME VARCHAR(25),ESAL DECIMAL(10,2),EADD VARCHAR(25)

In [28]:
import pymysql

con = pymysql.connect(user='root',password='19ishu93',db='ishu') # CREAING CONNECTION OBJECT

if con!=None:
    print("connection established sucessfully")
    
else: 
    print("Not connected")

connection established sucessfully

## CREATING TABLE

In [36]:
import pymysql
try:
    query="create table employee(eno int,ename varchar(25),esal decimal(10,2),eadd varchar(25))"
    con = pymysql.connect(user='root',password='19ishu93',db='ishu') # CREAING CONNECTION OBJECT
    cursor = con.cursor() # CREATING CURSOR OBJECT
    cursor.execute(query)
    print("table created sucessfully")
except pymysql.DatabaseError as e:
    if con!= None:
        con.rollback()
        print("there is a problem:",e)
finally:# this block wilL run even if the execption is raised
    if cursor:
        cursor.close()
    if con:
        con.close()

table created sucessfully

## INSERTING INTO TABLE

In [42]:
import pymysql
try:
    query="insert into employee values (10,'ishu',1000,'Dewas')"
    con = pymysql.connect(user='root',password='19ishu93',db='ishu') # CREAING CONNECTION OBJECT
    cursor = con.cursor() # CREATING CURSOR OBJECT
    cursor.execute(query) #  here data will not be save in database 
    con.commit() # after commit data will be saved
    print("Record inserted sucessfully")
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Record inserted sucessfully

## INSERT MULTIPLE RECORDS(PARAMETERISED QUERY)

In [55]:
import pymysql
try:
    query="insert into employee(eno,ename,esal,eadd) values (%s,%s,%s,%s)"
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    records=[(200,"sunny",2000,"mum"),(300,"miini",3000,"hyd"),(500,"chinu",4000,"blr")]
    cursor.executemany(query,records) #  here data will not be save in database 
    con.commit() # after commit data will be saved
    print("Record inserted sucessfully")
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Record inserted sucessfully

## DYNAMIC INPUT FROM KEYBOARD

In [67]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    while True:
        eno=int(input("enter employee number: "))
        ename=input("enter emloyee name: ")
        esal=int(input("enter employee salary:"))
        eadd=input("enter the employee address: ")
        query="insert into employee(eno,ename,esal,eadd) values (%s,'%s',%s,'%s')"
        cursor.execute(query %(eno,ename,esal,eadd))
        con.commit()
        print("Record inserted sucessfully")
        option=input("Do you want to insert one more record 'yes' or 'no'")
        if option== no: # this will show error but actually it is braking the loop if we type no
            break
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

enter employee number: 100
enter emloyee name: microsoft
enter employee salary:9099
enter the employee address: blr
Record inserted sucessfully
Do you want to insert one more record 'yes' or 'no'no

NameError: name 'no' is not defined

## INCREASE EMPLOYEES SALARY BY 144 Rs WHOSE SALARY ARE LESS THAN 5000 Rs

In [70]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    increase_amount=float(input("ENTER AMOUNT TO INCREASE IN SALARY: "))
    salary_range=float(input("ENTER SALARY RANGE: "))
    query="UPDATE employee SET esal=esal+%f WHERE esal< %f"
    cursor.execute(query %(increase_amount,salary_range))
    con.commit()
    print("Record updated sucessfully")
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

ENTER AMOUNT TO INCREASE IN SALARY: 144
ENTER SALARY RANGE: 5000
Record inserted sucessfully

## DELETE OPERATION

In [71]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    cutoff_salary_range=float(input("ENTER SALARY RANGE: "))
    query="DELETE FROM employee WHERE esal> %f"
    cursor.execute(query %(cutoff_salary_range))
    con.commit()
    print("Records DELETED sucessfully")
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

ENTER SALARY RANGE: 5000
Record inserted sucessfully

## SELECT OPERATION

__1.fetchone()__

In [72]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    query="SELECT * FROM employee"
    cursor.execute(query)
    row=cursor.fetchone() # fetch 1st record 
    while row is not None:# with while loop we select a;; record entries
        print(row)
        row=cursor.fetchone() # after one iteration move to second iteration and keep on going till last record       
   
    print("Records selected sucessfully")
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

(10, 'ishu', Decimal('1144.00'), 'Dewas')
(500, 'chinu', Decimal('4144.00'), 'blr')
(200, 'sunny', Decimal('2144.00'), 'mum')
(300, 'miini', Decimal('3144.00'), 'hyd')
(500, 'chinu', Decimal('4144.00'), 'blr')
Records selected sucessfully

__2.fetchall()__

In [79]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    query="SELECT * FROM employee"
    cursor.execute(query)
    data=cursor.fetchall() # fetch all record in one go
    #print(data) # output will be list of tuples so we use for loop
    for row in data:
        print("EMPLOYEE NUMBER",row[0])
        print("EMPLOYEE NAME",row[1])
        print("EMPLOYEE SALARY",row[2])
        print("EMPLOYEE ADDRESS",row[3])
        print() # blank print to give vertical spacein output
    
    print("ALL RECORD SELECTED SUCESSFULLY")
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

EMPLOYEE NUMBER 10
EMPLOYEE NAME ishu
EMPLOYEE SALARY 1144.00
EMPLOYEE ADDRESS Dewas

EMPLOYEE NUMBER 500
EMPLOYEE NAME chinu
EMPLOYEE SALARY 4144.00
EMPLOYEE ADDRESS blr

EMPLOYEE NUMBER 200
EMPLOYEE NAME sunny
EMPLOYEE SALARY 2144.00
EMPLOYEE ADDRESS mum

EMPLOYEE NUMBER 300
EMPLOYEE NAME miini
EMPLOYEE SALARY 3144.00
EMPLOYEE ADDRESS hyd

EMPLOYEE NUMBER 500
EMPLOYEE NAME chinu
EMPLOYEE SALARY 4144.00
EMPLOYEE ADDRESS blr

ALL RECORD SELECTED SUCESSFULLY

__3.fetchmany(n)__

In [81]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    query="SELECT * FROM employee"
    cursor.execute(query)
    n=int(input("enter the number of rows: "))
    data=cursor.fetchmany(n) # fetch all record in one go
    #print(data) # output will be list of tuples so we use for loop
    for row in data:
        print("EMPLOYEE NUMBER",row[0])
        print("EMPLOYEE NAME",row[1])
        print("EMPLOYEE SALARY",row[2])
        print("EMPLOYEE ADDRESS",row[3])
        print() # blank print to give vertical spacein output
    
    print("ALL RECORD SELECTED SUCESSFULLY")
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

enter the number of rows: 1
EMPLOYEE NUMBER 10
EMPLOYEE NAME ishu
EMPLOYEE SALARY 1144.00
EMPLOYEE ADDRESS Dewas

ALL RECORD SELECTED SUCESSFULLY

## WRITING RECORDS TO TEXT FILE

In [84]:
import pymysql
try:
    con = pymysql.connect(user='root',password='19ishu93',db='ishu')
    cursor = con.cursor()
    query="SELECT * FROM employee"
    cursor.execute(query)
    n=int(input("enter the number of rows: "))
    data=cursor.fetchmany(n) # fetch all record in one go
    #print(data) # output will be list of tuples so we use for loop
    f=open("dbresults.txt","w") # THIS WILL CREATE A TEXT FILE
    f.write(str(data)) #THIS  WILL AD DATA INTO TEXT FILE AND WRITE() METHOS NEED STRING FORMAT DATA TO WRITE IN FILE SO WE USED STR(DATA)
    print("SELECTED RECORDS SAVED SUCESSFULLY TO 'DBRESULTS.TXT' FILE")
                   
except pymysql.DatabaseError as e:
    if con:
        con.rollback()
        print("There is a problem:",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

enter the number of rows: 1
SELECTED RECORDS SAVED SUCESSFULLY

## ADDING THE SELCTED DATA INTO DATAFRAME

In [99]:
import pandas as pd
import pymysql

connection = pymysql.connect(user='root',password='19ishu93',db='ishu')
cursor = con.cursor()
query="SELECT * FROM employee"
df=pd.read_sql(query,connection) #df=pd.read_sql(query,connection,index_col='eno')  
print(df)
print("ALL RECORDS SAVED TO DARTAFRAME SUCESSFULLY")

   eno  ename    esal   eadd
0   10   ishu  1144.0  Dewas
1  500  chinu  4144.0    blr
2  200  sunny  2144.0    mum
3  300  miini  3144.0    hyd
4  500  chinu  4144.0    blr
ALL RECORDS SAVED TO DARTAFRAME SUCESSFULLY