## TUPLE SET DICTONARY

In [115]:
#WE CANNOT CAHNGE THE CONTENTS BECAUSE TUPLE IS IMMUTABLE
#T=()
#t=(10,)==> we have to use comma to add two elements in tuple
#without comma it will be treated as int sinlge value ,with comma it is treated as group of values in parenthesis
#t=tuple(sequence)

#---access elemets of tuple==
#index,slice methods

# + , * are allowed to be used

# Important functions of tuple
# len(t),count(),
# index() ==> always show the first occourance index,if element is not present then we get value error t.index(90) 90 not in tuple then error
# sorted()==> to sort elements based on natural sorting order=> for nummber ascending order for cahractes alphabetical order.
# sorted convert tuple to list and sort elements ,sort does not work because we cannot change the tuple as it is immutable
# min(),max()==> can be applies to homogeneous value only ,cannot be applies on heterogeneous values
# cmp()=> compare function only aviabel in python 2
#<,><<=,>= ==> it alwasys compare first elemetns if they satispy condition then good otherwise no moving forward

#tuple packing and unpacking
#to pack certain values in tuple and to extract values from tuple
# tuple comprehension:
#t=(x*x for x in range(1,11))
# ==> this is not supported in tuple..even if it works the result will not what we want--> it genraates some generator objects
# difference between list and tuple
#lsit is a group o comma seprated values within square brackets,square brackets are mandatory
#tuple -> a group of values in parenthesis ,parenthesis ae optional

#list objects re mutable
#tuple is immutable==> t[2]=90 => not allowed
# if content is fixed then we can use tuple
# if content needed to be changed wer use list

# list cannot be used a s keys for dictonary 
# tuple can be used as keys diconary

# comprethension concept is applicable for list
# comprehension not aviaable for list

## so main difference is just mutable and immutable

# list vs set
# if order is not importent and we dont want duplicate values then we use sets
# set does not support indexing since there is no order
#s=set(sequence)
# s={} # by deault it is treated as dictonary not null set
# to create nullset we use s=set()

# important fucntions of set
# s.add(newelement)==> we can add  one elements to set
# s.add(x)==> only take sinle element to set,[seuqnce are not added by this]
# s.add(x)==> it can add whole string to a set
# s.update(x) ==> to  any value(set,list,tuple) to set
# s.update(x,y,z) ==> we can pass any number of elements to update method
# s.update always take seuqnce as input
# s.update("python")=> this will sploit the string

# copy()==> exact clone if we want we use copy
# pop()==> remove and remove an element
# pop() does not take any element
# some random elemement will be returned as set does not support indexing

# remove()==> to remove a particular element,if the element is not specified then it will act as pop() fuction
# if we type remove(x) where x is not in set then we get error to avoild error we use discard() fucntiom

# discard()==> to remove the particular element but dont gice error if the elemnt is not in set

# clear()==> to remove all elments from the set then we can use this

# MATHEMATICAL OPERATION ON SET

# union()=> this will ad all elements of set1 ,set2 in single set
# s1.union(s2) or we can use s1|s2 
# intersection()==> this will extreact common elements in new set
# s1.intersection(s2) or we can use s1 & s2

# differce()==> return the elements present in s1 but not in s2
# s1.differce(s2)

# symetric differnce ==> extact all elements that are not common in two sets
#s1.symmetric_differcen(s2) or we can write s1 ^ s2 

# in and not in opeator==> we are allowed to use

# set comprehension is allowed in set

# DICTONARY
# if you want to represnt a group of values in pairs then it is called key value pair
# group of key value pairs
# "keys" can not be duplicate 
# heterogenos values are allowed for both "keys" and values
# insertion order is not preserved
# indexing slicing is not allwoed in dicotnary
# dictonary are mutable and dynamic

# d{}==> this is a empty dictonary

# to define we can use d=dict{}

# to add key and value in dictonary we use
# d[key]=value
# d["maths"] = 100
# d["physics"]= 200

# to extract any value from dictonay you must know the key related to that value
# d[100]==> 100 is key and value assocaited to it will be printed
# if key is avaiable it will change the value if key is not available then will add new key and value
# to remove the elements we will use :
# del keyword is used
# del d[key] # key must be present in dictonary or we will get error

# if we want to delete all key values then we use:
# d.clear() => all key values will be removed but we can still use the blank dictonary

# but with del d ==> we can  not use the black dictonary , everythin will be delete

# a key can have multiple values that value can be list set or tuple

# importnt functins of dictonary
# dict()==> to create empty dictonary
# d=dict({100:"durga",200:"ravi}) =>we can also do this but not necessary
# with list of tuples we can create dictonary
# d=dict([(100,"durga"),(200,"ravi"),(300:"shiva")])
# with set of tuples we can create dictonary
# d=dict({(100,"durga"),(200,"ravi"),(300:"shiva")})]
# with list of tlist we cannot create dictonary
# we can also use:
#d=dict((100,"ravi"))=> this only take one argument

#len(d) ==> no of key value in dictonary

# .clear()==> to clear all entries
# get(key)=> to get a value associated with certain key, if key is not prest then we get error
# to avoid error we add second element
# get(key,defaultvalue)

# pop(key): remove the KEY and value associated with it

# popitem(): randomly remove any key

# keys(): it will return all keys in the dictonary
# d.key()

# values()==> it will return both the key and values :
# items()==> it will return the [(key,value),(key,value),(key,value)]

# copy() => to create the exact clone of existing dictonary 

# d.setdefault(key,value) ==>
# if key is available no replacement of old value
# if key is not avialbe add new key and value

# update(x)==> merge one dictonary to adnother dictonary
# d1.update(d2) # it only take one dictonary ot merge ,multile cannot be merged
# we can also pass list of values
# same values of d1 will be removed

# COMPREHENSION IS AVAILABLE FOR DICTONARY
# squares={x:x*x for x in range(1,7)}

#property list:         list    tuple  set   dictonary
#insertion order     == yes     yes     no    no
#duplicate           == yes     yes     no    no 
#heterogenous objects== yes      yes    yes   yes
#immutabel           -- yes      no     yes   yes
# indexig            -- yes      yes    no    no

In [18]:
t=(30,10,50,40,20)
l=sorted(t)
l

[10, 20, 30, 40, 50]

In [8]:
min(t),max(t)

(10, 50)

In [9]:
t1=(10,20,30)
t2=(5.30,10)
print(t1<t2)

False

In [12]:
#TUPLE PACKING
a,b,c,d=10,20,30,40
t=a,b,c,d
print(t)

(10, 20, 30, 40)

In [14]:
#TUPLE UNPACKING
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d)

10 20 30 40

both concepts are also available for set

take input and input in tuple and print sum and average

In [16]:
t=eval(input("Enter some tuple of numbers:"))
l= len(t)
sum=0
for x in t:
    sum=sum+x
print('the sum is :',sum)
print("the average is:",sum/l)

Enter some tuple of numbers:10,20,30
the sum is : 60
the average is: 20.0

## SET

In [19]:
s={10,20,30}

In [21]:
# s[0] # set does not support indexing

In [24]:
print(type(s))

<class 'set'>

In [26]:
print(s)

{10, 20, 30}
{10, 20, 30}
{10, 20, 30}

(None, None, None)

In [30]:
# print(s[0:5]) slicing will not work on set

In [32]:
s=set(range(1,7))
s

{1, 2, 3, 4, 5, 6}

In [34]:
list=[1,2,4,5,5]
s=set(list)
s 
# 5 only come once as duplicate value sare not allowed

{1, 2, 4, 5}

In [37]:
s=set()
type(s)

set

In [53]:
s=set()
s.add(10)
s.add(20)
s.add(39)
print(s)

{10, 20, 39}

In [54]:
s=set()
l=[12,34]
s.update(l)
print(s)

{34, 12}

In [55]:
s=set()
l=[12,34]
s.update(l,range(1,7),"ishu")
print(s)

{1, 34, 3, 2, 4, 5, 6, 'h', 'u', 'i', 12, 's'}

In [57]:
s=set()
l="python"
s.add(l)
s

{'python'}

In [59]:
s={10,20,30}
s1=s.copy()
s1

{10, 20, 30}

In [64]:
s={10,20,30}
s.pop(),s.pop(),s.pop()

(10, 20, 30)

In [67]:
s={10,20,30}
s.remove(30)
print(s)

{10, 20}

In [68]:
s={10,20,30}
s.clear()
print(s)

set()

In [72]:
s=set("durga")
print("a" in s)
print("f" in s)

True
False

In [74]:
s={x*x for x in range(16)}
s

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225}

To remove duplicates form list two methods

In [75]:
l=eval(input("enter a list:"))
s=set(l)
print(s)

enter a list:[10,30,30]
{10, 30}

In [77]:
l=eval(input("enter a list:"))
l1=[]
for x in l:
    if x not in l1:
        l1.append(x)
print(l1)

enter a list:[10,30,40,50,40,50,40,10,40,80]
[10, 30, 40, 50, 80]

In [80]:
w=input("enter some word:")
s=set(w)
v={'a','e','i','o','u'}
d=s.intersection(v)
print("All vowels are :" ,d)
print("The number of different are:",len(d))

enter some word:durgasoft
All vowels are : {'u', 'a', 'o'}
The number of different are: 3

## DICTONARY

In [83]:
d={}
d["maths"] = 100
d["physics"]= 200
print(d)

{'maths': 100, 'physics': 200}

In [86]:
d={"a":"cat","b":"catterpillar","c":"moth"}
d["a"],d["c"]

('cat', 'moth')

In [92]:
rec={}
n=int(input("enter number of stundents:"))
i=1
while i<=n:
    name=input("enter stundet name:")
    marks=input("enter % of marks:")
    rec[name]=marks
    i=i+1
print("Name of student","\t","% of marks")
for x in rec:
    print("\t",x,"\t\t",rec[x])

enter number of stundents:2
enter stundet name:ishu
enter % of marks:90
enter stundet name:ishu2
enter % of marks:10
Name of student 	 % of marks
	 ishu 		 90
	 ishu2 		 10

specify multiple values for single key

In [94]:
list=["durga","ravi","tinu"]
d={100:list}
print(d)

{100: ['durga', 'ravi', 'tinu']}

creating dictonary wiht list of tuple

In [96]:
d=dict([(100,"durga"),(200,"ravi"),(300,"shiva")])
print(d)

{100: 'durga', 200: 'ravi', 300: 'shiva'}

creating dictonary with set of tuples

In [98]:
d=dict({(100,"durga"),(200,"ravi"),(300,"shiva")})
print(d)

{300: 'shiva', 100: 'durga', 200: 'ravi'}

In [103]:
d.get(100)

'durga'

In [105]:
d.get(500,"ishu")

'ishu'

In [ ]:
d=dict({(100,"durga"),(200,"ravi"),(300,"shiva")})

In [107]:
d.keys()

dict_keys([300, 100, 200])

In [108]:
d.values()

dict_values(['shiva', 'durga', 'ravi'])

In [109]:
d.items()

dict_items([(300, 'shiva'), (100, 'durga'), (200, 'ravi')])

In [111]:
for k,v in d.items():
    print(k,"...",v)

300 ... shiva
100 ... durga
200 ... ravi

In [113]:
d.pop(100)

'durga'

In [114]:
d.popitem()

(200, 'ravi')

In [118]:
d1={"A":100,"B":200,"C":300}
d2={"100":"cat","A":"ishu"}
d1.update(d2)
print(d1)

{'A': 'ishu', 'B': 200, 'C': 300, '100': 'cat'}

Program to take dictonary from keyboard and prit the sum of values

In [126]:
d=eval(input("Enter dictonary:"))
s=sum(d.values())
print(s)

Enter dictonary:{"A":100,"V":200}

TypeError: 'int' object is not callable

In [129]:
word=input("enter some word:")
d={}
for x in word:
    d[x]=d.get(x,0)+1
for k,v in sorted(d.items()):
    print(k,v)

enter some word:missisipi
i 4
m 1
p 1
s 3

In [131]:
word=input("enter some word:")
vowels={"a","e","i","o","u"}
d={}
for x in word:
    for x in vowels:
        d[x]=d.get(x,0)+1
for k,v in sorted(d.items()):
    print(k,v)

enter some word:durgasoftwaremicrosotapple
a 26
e 26
i 26
o 26
u 26

In [132]:
squares={x:x*x for x in range(1,7)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}